<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-j3DF5kMBuBq9DDlkJ-MatxxbnxG-c08"></script>

    <name>Task Callendary</name>
    <description>Task Callendary mobile</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		John Brown
	</author>
		<platform name="android" />
	    <icon src="images/icon.png" platform="ios" width="57" height="57" density="mdpi" />
		<preference name="SplashScreen" value="screen" />
		<preference name="SplashScreenDelay" value="10" />
		
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

<plugin name="cordova-plugin-geolocation"  source="npm"  />
<plugin name="cordova-plugin-android-permissions" source="npm" />
</widget>